# Environments
venv/
env/
.env

# Logs
logs/
*.log

# Backtesting & artifacts
backtesting/
artifacts/
filtered_stocks/
GapUp_stocks/

# API / credentials
fyersApi/
fyersRequest/

# Data files
*.xlsx
*.csv

# Python
__pycache__/
*.pyc
*.egg-info/
